
.body{
    background-color: black;
    color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    height: 100vh;
}

.section .heading {
    opacity: 0;
    transform: translateY(150px);
}

.fadeMove {
    transform: translateY(0);
    transition: all 0.5s ease;
    opacity: 1;
    text-align: center;
    line-height: 100vh;
    font-size: 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;	
}

.body a {
    padding: 20px 20px;
    display: flex;
    color: #008000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3em;
    overflow: hidden;
    
}

.body a:hover {
    color: #111;
    background: #39ff14;
    box-shadow: 0 0 50px #39ff14;
}

.body button{
    position: absolute;
    cursor: pointer;
}

.move {
    opacity: 0;
    position: absolute;
}

.section1 {
    display: block;
    background-size: 100%;
}

.section1_1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.new {
    text-align: center;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.center {
    text-align: center;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #111;
}

.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.4rem;
}

.frame {
    height: 700px;
}

.iframe{
    width: 100%;
    height: 100%;
}

.section2 {
    height: 700px;
}