
.body{
    background-color: black;
    color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    height: 100vh;
}

.section .heading {
    opacity: 0;
    transform: translateY(150px);
}

.fadeMove {
    transform: translateY(0);
    transition: all 2s ease;
    opacity: 1;
    text-align: center;
    line-height: 100vh;
    font-size: 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;	
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 200px;
}

.button a {
    padding: 20px 20px;
    display: flex;
    color: #008000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3em;
    overflow: hidden;
    
}

.button a:hover {
    color: #111;
    background: #39ff14;
    box-shadow: 0 0 50px #39ff14;
}

.button1 {
    cursor: pointer;
}

.section1 {
    display: block;
    background-size: 100%;
}

.section1_1{
    display: flex;
    align-items: center;
    justify-content: center;
}


.new {
    text-align: center;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.center {
    text-align: center;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #111;
}

.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.4rem;
}

.frame {
    height: 700px;
}

.iframe{
    width: 100%;
    height: 100%;
    position: relative;
}

.section2 {
    height: 900px;
    background-color: #36454F;
    display: block;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.laptop_right{
    margin-top: 150px;
    margin-left: 200px;
}


.laptop_left{
    margin-top: 150px;
    margin-right: 200px;
}

.left_text{
    margin-right: 200px;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.right_text{
    margin-left: 320px;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.line{
    width: 80%;
    height: 3px;
    color: white;
}

.row {
    display: flex;
}

.left_text_table{
    margin-right: 600px;
    width: 100%; 
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.right_text_table{
    margin-right: 300px;
    width: 100%;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.os{
    margin-left: 170px;
    width: 100%;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gamer {
    background-image: url("/gamer.jpg");
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
    display: block;
    justify-content: center;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
}

.intel {
    margin-top: 0px;
    top: 100px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;


}

.intel_text {
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: large;
}

.intel_div {
    margin-top: 200px;
}


